.cover {
  background-image: url(coverimg.jpg);
  background-position: center;
  background-size: cover;
  padding: 200px;
  width: 100%;
  margin-bottom: 200px;
  margin-top: 120px;
}
.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abril Fatface", cursive;
  font-size: 90px;
  text-transform: uppercase;
}
